<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>


  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/radiohead.jpeg">
    </a>
    <h1>за любовь к россии</h1>
    <!-- <p>iOS Mobile App Development(Swift, Objective-C), Web Application Technologies(Node.js, PHP, Firebase, Wordpress CMS and Web Hosting(DirectAdmin)), Networking(TCP-IP, DHCP, WAN, Network Switch, and other network technologies), UNIX Systems(MacOS, CentOS, Ubuntu and Kali OS) and Windows Systems(Windows 7, 10 and Windows Servers) </p> -->
    <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum,Lorem Ipsum Lorem Ipsum,Lorem Ipsum Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <fieldset>
    <form action="/" method="post">
      <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
      <div class="col-12"><input type="submit" class="ghost-button" value="Get Weather"></div>
    </form>


    <% if(weather !== null){ %>
      <div class="alert alert-success"><%= weather %></div>
    <% } %>

    <% if(error !== null){ %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
  </fieldset>
</div>
<!-- <div class="container">

</div> -->


</body>
</html>
